body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(48, 48, 252), rgb(84, 252, 165));
  padding: 30px;
  margin: 0;
  height: auto;
}

.crypto-header {
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, rgb(48, 48, 252), rgb(84, 252, 165));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.crypto-header input {
  width: 50%;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  text-align: center;
  padding: 2px;
  margin-top: 10px;
  outline: none;
  box-shadow: 3px 5px 15px rgb(157, 157, 157);
}

.crypto-header h1 {
  text-shadow: 3px 5px 15px rgba(0,0,0,0.6);
}


.crypto-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

footer {
  margin: 100px 0;
  text-align: center;
  color: rgb(104, 102, 102);
  font-size: 20px;
}

@media(max-width: 1700px) {
  
  .crypto-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1300px) {
  
  .crypto-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 850px) {
  
  .crypto-container {
    grid-template-columns: repeat(1, 1fr);
  }
}